<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      img.one {
        border-style: dotted;
        border-color: red;
      }
    </style>
  </head>
  <body>
    <h1>My name is <%=@name %></h1>
     <img class="one" src=" http://bit.ly/1eze8aE" alt="">
  </body>
</html>
